<% layout("layouts/boilerplate") %>
<body>
       <h3>All Listing</h3>

        <!-- <form method="GET" action="/listing/new">
           <button>Create New Listing</button>
        </form> -->

       <%for(let listing of alllisting){ %>
     <ul>
        <li><a href="/listing/<%=listing._id%>"><%=listing.title %></a></li>
     </ul>
<%}%>
</body>


