<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AaramStay</title>
</head>
<body>
       <h3>All Listing</h3>
</body>
</html>

<%for(let listing of alllisting){ %>
     <ul>
        <li><a href="/listings/<%=listing._id%>"><%=listing.title %></a></li>
     </ul>
<%}%>